<div style="margin: 50px 150px;">
    <mat-card class="box" >
          <mat-card class="wrap" fxLayout="row">
            <div class="col-sm-6" >
              <mat-select placeholder="Select Year" fxFlex="20%">
                  <mat-option *ngFor="let year of years" [value]="year">
                    {{ year }}
                  </mat-option>
                </mat-select>

              <form >
                  <mat-form-field >
                    <input matInput placeholder="First Name" >
                  </mat-form-field>
                
                  <mat-form-field >
                      <input matInput placeholder="LastName" >
                  </mat-form-field>
              </form>
              <form>
                  <mat-form-field>
                      <input matInput [matDatepicker]="picker" placeholder="Date of birth">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
              </form>
              <form >          
                  <mat-form-field >
                      <input matInput placeholder="Earnings" >
                  </mat-form-field>

                  <mat-select placeholder="Anual /Monthly" fxFlex="20%">
                      <mat-option *ngFor="let type of earningTypes" [value]="selectedType">
                        {{ selectedType }}
                      </mat-option>
                    </mat-select>
              </form>
              Medical Aid dependants including owner
              <mat-slider [max]="10" [min]="0" [step]="1" thumbLabel fxFlex="50%">
              </mat-slider>
            </div>

            <div class="col-sm-5" >
                <p>
                    Monthly Amount {{monthly}}
                </p>
                <p>
                    Annual Amount {{annoually}}
                </p>
                <p> 
                    Tax Credits {{credits}} 
                </p>
                <p>
                    PAYE Due {{payDue}}
                </p>
                <p>
                    Net Pay {{netPay}}
                </p>
            </div>
          </mat-card>
          <button mat-raised-button color="primary">submit</button>
    </mat-card>
  </div>